#
# Sensing wall
#
CONFIG_DB_HOST_MAC="d8:3b:bf:7c:1e:06"
CONFIG_DB_HOST_IP="192.168.4.11"
CONFIG_IP_MCAST_INTERVAL=20

#
# Other
#
CONFIG_ESP32_WIFI_CSI_ENABLED=y
CONFIG_ESP_WIFI_SSID="sensing-wall"
CONFIG_ESP_WIFI_PASSWORD=""
CONFIG_ESP_WIFI_CHANNEL=6
# CONFIG_ESP32_WIFI_AMPDU_TX_ENABLED is not set
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESP_MAX_STA_CONN=20

CONFIG_LWIP_DHCPS_MAX_STATION_NUM=18
CONFIG_FREERTOS_HZ=1000
# CONFIG_ESP_CONSOLE_UART_BAUDRATE=921600
# CONFIG_ESP_CONSOLE_UART_CUSTOM=y
# CONFIG_ESP_CONSOLE_UART=y
# CONFIG_ESP_CONSOLE_UART_NUM=0
# CONFIG_CONSOLE_UART_BAUDRATE=921600